.section3{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}
.section4{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}
.section5{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
}